.header {
	position:fixed;
	z-index:20;
	background:#fff;
	border-bottom:#D8D8D8 solid 1px;

	&__block {
		display:flex;
		align-items:center;
		justify-content:space-between;
		height:var(--header-height);
		gap:20px;
	}

	&__logo {
		display:block;
		position:absolute;
		width:78px;
		aspect-ratio: 318/278;
		left:50%;
		top:50%;
		transform:translate3d(-50%,-50%, 0);
		will-change:filter;

		& svg {
			fill:#F6CC86;
			transition:fill .2s;
		}

		html.no-touch &:hover {
			& svg {
				fill:#E29B4E;
			}
		}
	}

	&__lang {
		position:relative;
		margin-left:auto;

		&-trigger {
			display:flex;
			align-items:center;
			gap:4px;
			cursor: pointer;

			&:after {
				content:'';
				width:16px;
				aspect-ratio: 1;
				mask:url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13 6-5 5-5-5' stroke='%23424242' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center / 100% auto;
				background:#424242;
				transition:all .2s;
			}

			html.no-touch &:hover {
				color:#E29B4E;

				&:after {
					background:#E29B4E;
				}
			}
		}

		&-list {
			position:absolute;
			left:0;
			top:calc(100% + 12px);
			background:#fff;
			border-radius:4px;
			box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.10);
			z-index:2;
			padding:4px 0;
			transition:opacity .2s;
			overflow:hidden;
			overflow-y:auto;
			max-height:300px;
	
			&::-webkit-scrollbar {
				width: 5px;
			}
		}

		// &-item {
		// 	display:flex;
		// 	align-items:center;
		// 	gap:8px;
		// 	font-size:20px;
		// 	line-height:1.4em;
		// 	padding:6px 16px;
		// 	text-transform: uppercase;
		// 	min-width:90px;

		// 	&:after {
		// 		content:attr(data-lang);
		// 	}

		// 	& svg {
		// 		width:22px;
		// 		height:16px;
		// 		flex-shrink: 0;
		// 	}

		// 	&.active,
		// 	html.no-touch &:is(a):hover {
		// 		color:#E29B4E;
		// 	}

		// 	&.current {
		// 		min-width:auto!important;
		// 		padding:0!important;
		// 		transition:color .2s;
		// 		gap:4px;

		// 		&:after {
		// 			content:none;
		// 		}
		// 	}

		// 	&:is(a) {
				
		// 	}
		// }

		&-item {
			display:block;
			font-size:16px;
			line-height:1.5em;
			padding:6px 16px;
			//text-transform: uppercase;
			min-width:90px;
			white-space: nowrap;

			&:after {
				//content:attr(data-lang);
			}

			& svg {
				width:22px;
				height:16px;
				flex-shrink: 0;
			}

			&.active,
			html.no-touch &:is(a):hover {
				color:#E29B4E;
			}

			&.current {
				min-width:auto!important;
				padding:0!important;
				transition:color .2s;
				font-weight:500;
			}

			&:is(a) {
				
			}
		}

		&:not(.active) & {
			&-list {
				opacity:0;
				pointer-events: none;
			}
		}

		&.active & {
			&-trigger {
				&:after {
					transform:scaleY(-1);
				}
			}
		}
	}

	&__right {
		display:flex;
		align-items:center;
		gap:20px;
	}

	&__btn {
		display:block;
		width:32px;
		aspect-ratio: 1/1;
		cursor:pointer;

		& svg {
			fill:#424242;
			stroke:#424242;
			transition:fill .2s, stroke .2s;
		}

		html.no-touch &:hover {
			& svg {
				fill:#E29B4E;
				stroke:#E29B4E;
			}
		}
	}
}

.menu {
	position:fixed;
	left:0;
	right:0;
	top:var(--header-height);
	z-index:19;
	background:#fff;
	max-height:calc(100% - var(--header-height));
	overflow:hidden;
	overflow-y:auto;

	transition:opacity .5s;
	will-change:opacity;

	.app:not(.app--menu) & {
		opacity:0;
		pointer-events: none;
	}

	&__main {
		padding:30px 0;
	}

	&__col {
		--g-cols:1;
		--g-of:4;

		&--l {
			padding-left:var(--g-gap);
			border-left:#EDEDED solid 1px;
		}
	}

	&__link {
		display:flex;
		flex-direction: column;
		width:100%;
		font-size: 20px;
		line-height: 28px;
		color:$color-black;

		&-img {
			width:100%;
			margin-bottom:10px;
			overflow:hidden;

			& img {
				will-change: transform;
				transition:transform .5s;
			}
		}

		&--s {
			padding:8px 0;
		}

		html.no-touch &:hover {
			color:#E29B4E;
		}

		html.no-touch &:hover & {
			&-img {
				& img {
					transform:scale(1.1);
				}
			}
		}
	}

	&__bot {
		background:#FEF2DE;
		color:#E29B4E;
		padding:10px 0;
		text-align:center;
		font-size: 20px;
		line-height: 28px;
	}
}

.search {
	position:fixed;
	left:0;
	right:0;
	top:var(--header-height);
	z-index:18;
	background:#fff;
	height:var(--search-height);
	display:flex;
	flex-direction: column;
	justify-content:center;
	border-bottom:#D8D8D8 solid 1px;

	transition:opacity .5s;
	will-change:opacity;

	&:not(.active) {
		opacity:0;
		pointer-events: none;
	}

	&__form {
		margin:0 auto;
		max-width:984px;
	}

	[data-search="show"] & {
		opacity:1!important;
		pointer-events: all!important;
	}
}

.ui {
	&-toggle {
		cursor:pointer;
		z-index:2;
		transition:opacity .2s;

		display:flex;
		align-items:center;
		gap:10px;

		&__icon {
			flex-shrink: 0;
			width:32px;
			aspect-ratio: 1;
			position:relative;
		}

		&__text {
			font-size:20px;
			line-height:28px;
			color:#3F3F3F;
			transition:color .2s;
		}
	
		&__line {
			height:2px;
			background:#424242;
			position:absolute;
			border-radius: 2px;
			left:4px;
			top:15px;
			width:24px;
			transition:all .2s, margin-top .2s .2s;
	
			&:nth-child(1) {
				margin-top:-8px;
			}
	
			&:nth-child(3) {
				margin-top:8px;
			}
	
			.app--menu & {
				margin-top:0!important;
				transition:transform .2s .2s, all .2s;

				&:nth-child(1) {
					transform:rotate(45deg) translateY(0);
				}
	
				&:nth-child(2) {
					opacity:0;
				}
	
				&:nth-child(3) {
					transform:rotate(-45deg) translateY(0);
				}
			}
		}

		html.no-touch &:hover & {
			&__line {
				background:#E29B4E;
			}

			&__text {
				color:#E29B4E;
			}
		}
	}
}

.skiptranslate {
	display:none!important;
	position:absolute;
	left:-99999px;
	top:-99999px;
	width:0;
	height:0;
	overflow:hidden!important;
	visibility: hidden!important;
}