
			<section class="section category">
				<div class="container">
					<div class="category__list@@if (context.reverse == true) { category__list--r}">
					@@if (context.women == true) {
						<div class="category__item">
							<a class="category__item-col category__item-col--i">
								<div class="category__item-img">
									<picture>
										<source srcset="@@webRoot/images/category-women.webp" type="image/webp">
										<source srcset="@@webRoot/images/category-women.jpg" type="image/jpeg">
										<img src="@@webRoot/images/category-women.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								<div class="category__item-name">
									Женская парфюмерия
								</div>
							</a>
							<div class="category__item-col category__item-col--p">
								<div class="category__products">
									<div class="category__products-slider">
										<div class="swiper-wrapper">
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-women-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-women-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-women-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-men-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-men-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-men-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-children-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-children-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-children-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
										</div>
									</div>
									<div class="ui-dots category__products-dots"></div>
								</div>
							</div>
						</div>
					}
					@@if (context.men == true) {
						<div class="category__item">
							<a class="category__item-col category__item-col--i">
								<div class="category__item-img">
									<picture>
										<source srcset="@@webRoot/images/category-men.webp" type="image/webp">
										<source srcset="@@webRoot/images/category-men.jpg" type="image/jpeg">
										<img src="@@webRoot/images/category-men.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								<div class="category__item-name">
									Мужская парфюмерия
								</div>
							</a>
							<div class="category__item-col category__item-col--p">
								<div class="category__products">
									<div class="category__products-slider">
										<div class="swiper-wrapper">
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-men-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-men-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-men-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-women-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-women-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-women-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-children-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-children-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-children-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
										</div>
									</div>
									<div class="ui-dots category__products-dots"></div>
								</div>
							</div>
						</div>
					}
					@@if (context.child == true) {
						<div class="category__item">
							<a class="category__item-col category__item-col--i">
								<div class="category__item-img">
									<picture>
										<source srcset="@@webRoot/images/category-children.webp" type="image/webp">
										<source srcset="@@webRoot/images/category-children.jpg" type="image/jpeg">
										<img src="@@webRoot/images/category-children.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								<div class="category__item-name category__item-name--t" style="--cat-color:#0A0A0A;">
									Детская парфюмерия
								</div>
							</a>
							<div class="category__item-col category__item-col--p">
								<div class="category__products">
									<div class="category__products-slider">
										<div class="swiper-wrapper">
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-children-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-children-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-children-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-men-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-men-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-men-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
											<a class="swiper-slide category__products-item" href="@@webRoot/page-catalog-product.html">
												<div class="category__products-img">
													<picture>
														<source srcset="@@webRoot/images/category-women-p.webp" type="image/webp">
														<source srcset="@@webRoot/images/category-women-p.jpg" type="image/jpeg">
														<img src="@@webRoot/images/category-women-p.jpg" alt="" loading="lazy" />
													</picture>
												</div>
											</a>
										</div>
									</div>
									<div class="ui-dots category__products-dots"></div>
								</div>
							</div>
						</div>
					}
					</div>
				</div>
			</section>