		<footer class="footer">
			<div class="footer__main">
				<div class="container">
					<a class="footer__logo" href="@@webRoot/">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
					</a>
					<ul class="footer__menu">
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								Главная
							</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								Контакты
							</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								Где купить
							</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								Cookies
							</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								О бренде
							</a>
						</li>
						<li class="footer__menu-item">
							<a class="footer__menu-link">
								Правовая информация
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__sub">
				<div class="container">
					<form class="footer__sub-form">
						<div class="footer__sub-inp">
							<label class="ui-input-label footer__sub-label" for="footer-sub">
								Подпишитесь, чтобы узнавать о&nbsp;новинках
							</label>
							<label class="ui-input">
								<input type="email" placeholder="E-mail" id="footer-sub"/>
							</label>
						</div>
						<div class="footer__sub-btn">
							<button class="ui-btn ui-btn--orange-gradient" type="submit">
								<span class="ui-btn__text">
									Подписаться
								</span>
								<span class="ui-btn__icon">
									<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-btn-arrow-right"></use></svg>
								</span>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="footer__bot">
				<div class="container footer__bot-block">
					<div class="footer__bot-col footer__copy">
						© Good Charme 2023
					</div>
					<div class="footer__bot-col footer__made">
						Разработано в <a>IDEA branding agency</a>
					</div>
				</div>
			</div>
		</footer>