		<header class="header">
			<div class="container header__block">
				<button class="ui-toggle header__toggle">
					<span class="ui-toggle__icon">
						<div class="ui-toggle__line"></div>
						<div class="ui-toggle__line"></div>
						<div class="ui-toggle__line"></div>
					</span>
					<span class="ui-toggle__text">
						Меню
					</span>
				</button>
				<a class="header__logo" href="@@webRoot/">
					<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
				</a>
				<div class="header__right">
					<button class="header__btn search-open">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
					</button>
					<a class="header__btn" href="@@webRoot/page-buy.html">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
					</a>
				</div>
			</div>
		</header>
		<div class="menu ui-scroll">
			<div class="menu__main">
				<div class="container">
					<div class="ui-grid menu__row">
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-women.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-women.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-women.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-women.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Женский парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-men.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-men.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-men.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-men.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Мужской парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-children.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-children.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-children.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-children.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Детский парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col menu__col--l">
							<a class="menu__link menu__link--s" href="@@webRoot/page-blog.html">
								Полезные советы
							</a>
							<a class="menu__link menu__link--s" href="@@webRoot/page-about.html">
								О бренде
							</a>
							<a class="menu__link menu__link--s" href="@@webRoot/page-contacts.html">
								Контакты
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="menu__bot">
				<div class="container">
					Стойкость араматов <span class="display-ib">от 7 до 12 часов!</span>
				</div>
			</div>
		</div>
		<div class="search">
			<div class="container">
				<form class="search__form">
					<div class="search__form-inp">
						<div class="ui-input">
							<input type="text" placeholder="Начните печатать"/>
							<span class="ui-input__icon">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>