		<header class="header">
			<div class="container header__block">
				<button class="ui-toggle header__toggle">
					<span class="ui-toggle__icon">
						<div class="ui-toggle__line"></div>
						<div class="ui-toggle__line"></div>
						<div class="ui-toggle__line"></div>
					</span>
					<span class="ui-toggle__text">
						Меню
					</span>
				</button>
				<a class="header__logo" href="@@webRoot/">
					<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
				</a>
				<div class="header__lang">
					<div class="header__lang-trigger">
						<div class="header__lang-item current"></div>
					</div>
					<div class="header__lang-list ui-scroll">
						<a class="header__lang-item" data-lang="ru">русский</a>
						<a class="header__lang-item" data-lang="az">азербайджанский</a>
						<a class="header__lang-item" data-lang="sq">албанский</a>
						<a class="header__lang-item" data-lang="am">амхарский</a>
						<a class="header__lang-item" data-lang="en">английский</a>
						<a class="header__lang-item" data-lang="ar">арабский</a>
						<a class="header__lang-item" data-lang="hy">армянский</a>
						<a class="header__lang-item" data-lang="af">африкаанс</a>
						<a class="header__lang-item" data-lang="eu">баскский</a>
						<a class="header__lang-item" data-lang="be">белорусский</a>
						<a class="header__lang-item" data-lang="bn">бенгальский</a>
						<a class="header__lang-item" data-lang="my">бирманский</a>
						<a class="header__lang-item" data-lang="bg">болгарский</a>
						<a class="header__lang-item" data-lang="bs">боснийский</a>
						<a class="header__lang-item" data-lang="cy">валлийский</a>
						<a class="header__lang-item" data-lang="hu">венгерский</a>
						<a class="header__lang-item" data-lang="vi">вьетнамский</a>
						<a class="header__lang-item" data-lang="ht">гаитянский (креольский)</a>
						<a class="header__lang-item" data-lang="gl">галисийский</a>
						<a class="header__lang-item" data-lang="nl">голландский</a>
						<a class="header__lang-item" data-lang="de">немецкий</a>
						<a class="header__lang-item" data-lang="ne">непальский</a>
						<a class="header__lang-item" data-lang="no">норвежский</a>
						<a class="header__lang-item" data-lang="pa">панджаби</a>
						<a class="header__lang-item" data-lang="fa">персидский</a>
						<a class="header__lang-item" data-lang="pl">польский</a>
						<a class="header__lang-item" data-lang="pt">португальский</a>
						<a class="header__lang-item" data-lang="ro">румынский</a>
						<a class="header__lang-item" data-lang="sr">сербский</a>
						<a class="header__lang-item" data-lang="si">сингальский</a>
						<a class="header__lang-item" data-lang="sk">словацкий</a>
						<a class="header__lang-item" data-lang="sl">словенский</a>
						<a class="header__lang-item" data-lang="sw">суахили</a>
						<a class="header__lang-item" data-lang="su">сунданский</a>
						<a class="header__lang-item" data-lang="tg">таджикский</a>
						<a class="header__lang-item" data-lang="th">тайский</a>
						<a class="header__lang-item" data-lang="tl">тагальский</a>
						<a class="header__lang-item" data-lang="ta">тамильский</a>
						<a class="header__lang-item" data-lang="tt">татарский</a>
						<a class="header__lang-item" data-lang="te">телугу</a>
						<a class="header__lang-item" data-lang="tr">турецкий</a>
						<a class="header__lang-item" data-lang="udm">удмуртский</a>
						<a class="header__lang-item" data-lang="uz">узбекский</a>
						<a class="header__lang-item" data-lang="uk">украинский</a>
						<a class="header__lang-item" data-lang="ur">урду</a>
						<a class="header__lang-item" data-lang="fi">финский</a>
						<a class="header__lang-item" data-lang="fr">французский</a>
						<a class="header__lang-item" data-lang="hi">хинди</a>
						<a class="header__lang-item" data-lang="hr">хорватский</a>
						<a class="header__lang-item" data-lang="cs">чешский</a>
						<a class="header__lang-item" data-lang="sv">шведский</a>
						<a class="header__lang-item" data-lang="gd">шотландский</a>
						<a class="header__lang-item" data-lang="et">эстонский</a>
						<a class="header__lang-item" data-lang="eo">эсперанто</a>
						<a class="header__lang-item" data-lang="jv">яванский</a>
						<a class="header__lang-item" data-lang="ja">японский</a>
					</div>
				</div>
				<div class="header__right">
					<button class="header__btn search-open">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
					</button>
					<a class="header__btn" href="@@webRoot/page-buy.html">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
					</a>
				</div>
			</div>
		</header>
		<div id="google_translate_element" style="display: none;"></div>
		<div id="ytWidget" style="display: none;"></div>
		<div class="menu ui-scroll">
			<div class="menu__main">
				<div class="container">
					<div class="ui-grid menu__row">
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-women.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-women.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-women.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-women.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Женский парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-men.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-men.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-men.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-men.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Мужской парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col">
							<a class="menu__link" href="@@webRoot/page-catalog-children.html">
								<div class="menu__link-img">
									<picture>
										<source srcset="@@webRoot/images/menu-children.webp" type="image/webp">
										<source srcset="@@webRoot/images/menu-children.jpg" type="image/jpeg">
										<img src="@@webRoot/images/menu-children.jpg" alt="" loading="lazy" />
									</picture>
								</div>
								Детский парфюм
							</a>
						</div>
						<div class="ui-grid__col menu__col menu__col--l">
							<a class="menu__link menu__link--s" href="@@webRoot/page-blog.html">
								Полезные советы
							</a>
							<a class="menu__link menu__link--s" href="@@webRoot/page-about.html">
								О бренде
							</a>
							<a class="menu__link menu__link--s" href="@@webRoot/page-contacts.html">
								Контакты
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="menu__bot">
				<div class="container">
					Стойкость араматов <span class="display-ib">от 7 до 12 часов!</span>
				</div>
			</div>
		</div>
		<div class="search">
			<div class="container">
				<form class="search__form">
					<div class="search__form-inp">
						<div class="ui-input">
							<input type="text" placeholder="Начните печатать"/>
							<span class="ui-input__icon">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>