						<div class="ui-layout__side">
							<@@headTag class="head head--in-cont">
								<@@ttlTag class="head__title">
									Контакты
								</@@ttlTag>
							</@@headTag>
							<ul class="ui-contacts">
								<li class="ui-contacts__item">
									<a class="ui-contacts__link" style="--link-color:#E29B4E;">
										Где купить
									</a>
								</li>
								<li class="ui-contacts__item">
									<a class="ui-contacts__link" style="--link-color:#E29B4E;">
										GoodCharme в&nbsp;мире
									</a>
								</li>
								<li class="ui-contacts__item">
									<a class="ui-contacts__link">
										GoodCharmeRus@gmail.com
									</a>
								</li>
								<li class="ui-contacts__item">
									<a class="ui-contacts__link">
										info@ibasbp.ru
									</a>
								</li>
							</ul>
						</div>