
		<section class="section try">
			<header class="head">
				<div class="head__row">
					<h2 class="head__title">
						Советуем попробовать
					</h2>
					<div class="head__right">
						<div class="ui-nav try__nav">
							<button class="ui-nav__item ui-nav__item--p" type="button"></button>
							<button class="ui-nav__item ui-nav__item--n" type="button"></button>
						</div>
					</div>
				</div>
			</header>
			<div class="container">
				<div class="try__slider catalog__list">
					<div class="swiper-wrapper">
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card1.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': true,
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card2.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': '<div class="ui-card__badges-item">новинка</div><div class="ui-card__badges-item" style="--badge-bg:#0E6330;--badge-color:#fff">хит</div>'
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card3.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': '<div class="ui-card__badges-item" style="--badge-bg:#F2DADF;--badge-color:#000;">какой-то тег</div>'
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card1.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card1.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': true,
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card2.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': '<div class="ui-card__badges-item">новинка</div><div class="ui-card__badges-item" style="--badge-bg:#0E6330;--badge-color:#fff">хит</div>'
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card3.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
								'badges': '<div class="ui-card__badges-item" style="--badge-bg:#F2DADF;--badge-color:#000;">какой-то тег</div>'
							})
						</div>
						<div class="swiper-slide catalog__list-item">
							@@include('_ui-card.html', {
								'mod': '',
								'img': 'card1.png',
								'name': 'Good Charme Hanoi',
								'vol': '80 ml',
								'rate': 5,
							})
						</div>
					</div>
				</div>
			</div>
		</section>